html,body,h1,h2,h3,h4,h5,h6 {font-family: 'Sen';
  margin: 0;
  background-color: #FFF4eF; 
  color: #444583;
}

.navigation{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF4eF;
}

.logo {
  /* display the image as a block element */
  margin: 0 auto; /* center the image horizontally */
  width: 200px; /* set the image width */
  height: auto; /* allow the image height to adjust proportionally */
  padding-left: 55px ;
  cursor: pointer;
 }

.navigation li {
  font-size: 20px ;
  float: right;
  height: auto;
  padding: 15px 32px;
  /* padding-left:5px; */
}

.navigation a {
  display: block;
  color: #505050;
  text-align: center;
  text-decoration: none;
  padding: 4px 4px;
}

li a:hover {
  text-decoration:underline;
  color: #505050;
  text-decoration-color:#FAA819;
  text-decoration-thickness: 5px;  
}

.container{
  width: 100%;

}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both
}

.button1 {
  border-radius: 4px;
  background-color: #444583;
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 20px;
  margin: 20px 12px;
  cursor: pointer;
}
.column-1 {
  float: left;
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: end;
}
.column-1 p {
  font-size: 30px;
  text-align: left;
  padding: 20px;
}
.column-2 {
  float: left;
  width: 60%;
  padding: 20px;
}

/* Create two differents columns that floats next to each other */

.column-3 p{
  float: left;
  width: 100%;
  padding: 100px;
  word-spacing: 3px;
  font-size: 30px;
  color: #444583;
  line-height: 1.25;
  font-size: 30px;
}

.column-4 {
  float: left;
  width: 100%;
  padding: 100px;
}
.column-4 h2 {
  font-size: 60x;
}

img { 
   
  display: block; 
  height: 100%;
width: 100%; 
}

ul.ul2 { 
  display: block;
  color: #505050;
  text-align: left;
  list-style-position: outside;
  overflow: hidden;
  word-spacing: 3px;

}
@media screen and (max-width: 1000px) {
  .column-1,
  .column-2 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}
/* Style the footer */

.footer {
  background: 
  linear-gradient(217deg, white, rgba(255,0,0,0) 70.71%),               
  linear-gradient(127deg, white, orange 70.71%),
  linear-gradient(360deg, white, orange 70.71%);
  height: 600px;
  grid-area: footer;
  background-color: #FFF4EF;
  padding: 10px;
  text-align: left;
}
.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  font-size: 20px ;
  float: left;
  height: auto;
  padding: 4px 6px;
}

.nav a {
  display: block;
  color: #505050;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.button3 {
  border-radius: 4px;
  background-color: #444583;
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 20px;
  margin: 20px 12px;
  cursor: pointer;
}
